.menu-hero{
  margin-top: 10%;
}
.game-container{
  margin-top: 3%;
}

.is-game-title{

  background-color: $game-dark;
  color: $white;
}

.is-game-tile{
  border-radius: 4px;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  position: relative;
  background-color: $game-dark;
  color: $white;
}

.is-info-bar{
  border-radius: 4px;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  position: relative;
  background-color: $info;
  color: $white;
  align-content: center;
}




.menu-button{
  display: block;
  text-align: left;
  margin-top: 20px;
  font-weight: 500;
  font-size: 0.7em;
  background-color: $white;
  border-width: 2px !important;
  border-style: solid !important;

  text-decoration: none !important;
  border-radius: 5px;
}

.sidebar-button{
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  background-color: $white;
  border-width: 2px !important;
  border-style: solid !important;
  text-decoration: none !important;
  border-radius: 5px;

  bottom: 0;
}


.button-on-danger{
  $hov-col: darken($danger, 20%);

  color: $hov-col;

  border-color:  $hov-col;
  &:visited {
    color:  $hov-col;
    border-color: $white;
  }
  &:hover {
    background-color:  $hov-col;
    color: $white;
    border-color: $white;
  }
}

.button-on-info{
  $hov-col: darken($info, 20%);

  color: $hov-col;

  border-color:  $hov-col;
  &:visited {
    color:  $hov-col;
    border-color: $white;
  }
  &:hover {
    background-color:  $hov-col;
    color: $white;
    border-color: $white;
  }
}

.button-on-warning{
  $hov-col: darken($warning, 20%);

  color: $hov-col;

  border-color:  $hov-col;
  &:visited {
    color:  $hov-col;
    border-color: $white;
  }
  &:hover {
    background-color:  $hov-col;
    color: $white;
    border-color: $white;
  }
}
